@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}
/* Remove default css  */
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    margin-bottom: -4px;
}

/* Shared Style  */
.fixed_container{
    max-width: 1180px;
    margin: 0 auto;
}
.internal_container{
    max-width: 1060px;
    margin: 0 auto;
}
.d_flex{
    display: flex;
}
.sp_bet{
    justify-content: space-between;
}
.align_center{
    align-items: center;
}
.text_center{
    text-align: center;
}
.primary_color{
    color: rgba(58, 58, 58, 1);
}
.dark_1{
    color: rgba(24, 25, 31, 1);
}
.dark_2{
    color: rgba(108, 108, 108, 1);
}
.dark_3{
    color: rgba(120, 120, 133, 1);
}
.btn_bg{
    background-color: rgba(224, 44, 109, 1);
}

.primary_btn {
    color: white;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 33px;
    border-radius: 40px;
    cursor: pointer;
}





/* Header Style  */
header{}
nav {
    padding: 20px 0px;
}
.nav_brands{}
.nav_brands h2{
    font-size: 1.5rem;
}
.nav_menu{}
.nav_menu ul{}
.nav_menu ul li{}
.nav_menu ul li a {
    color: rgba(58, 58, 58, 1);
    font-size: 1rem;
    padding: 0px 10px;
    margin-left: 5px;
}
.nav_btn{}
.nav_btn button {
    background: none;
    border: none;
    outline: 0;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
}
.nav_btn button i{
    font-size: 1.2rem;
}


/* Hero Section Style  */
.hero_section {
    padding-top: 30px;
}
.hero_left {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero_content{}
.hero_content h1{
    font-size: 3.25rem;
    font-weight: bold;
}
.hero_content p {
    font-size: 1rem;
    width: 90%;
    margin: 16px 0px;
}
.hero_content button{}
.hero_content button span {
    display: inline-block;
    margin-left: 5px;
}
.hero_content button span i{}
.hero_right{
    flex-basis: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.hero_right .hero_img{
}
.hero_right .hero_img img{}


/* Sponser Section Style  */
.sponser_section{
    margin: 100px 0px;
}
.sponser_logo {
    flex-wrap: wrap;
    padding: 20px;
    border-top: 1px solid #8080802b;
    border-bottom: 1px solid #8080802b;
}

/* Responsive Style  */
@media screen and (max-width:1180px) {
    .fixed_container{
        width: 90%;
    }
}
@media screen and (max-width:576px) {
    nav{
        flex-direction: column;
        row-gap: 20px;
    }
    .hero_section{
        flex-direction: column-reverse;
    }
    .hero_right {
        flex-basis: 100%;
        justify-content: center;
    }
    .hero_left{
        flex-basis: 100%;
    }
    .hero_content{
        text-align: center;
    }
    .hero_content h1{
        font-size: 2rem;
    }
    .hero_content p{
        width: 100%;
    }


    /* sponser section  */
    .internal_container{
        width: 100%;
    }
    .sponser_logo{
        row-gap: 20px;
    }
    .sponser_img {
        flex-basis: 25%;
    }
}
@media screen and (min-width:576px) and (max-width:768px) {
    nav{
        flex-direction: column;
        row-gap: 20px;
    }
}
@media screen and (min-width:576px) and (max-width:992px) {
    .hero_section{
        flex-direction: column-reverse;
    }
    .hero_right {
        flex-basis: 100%;
        justify-content: center;
    }
    .hero_left{
        flex-basis: 100%;
    }


    /* sponser section  */
    
    .sponser_logo{
        row-gap: 20px;
    }
    .sponser_img {
        flex-basis: 20%;
    }
}

.hide{
    display: none;
}